:root {
  --background-color: #ffffe6;
  --text-color: black;
  --btn-color: #006bff;
  --secondary-color: #08c1ff85;
}
[data-theme="dark"] {
    --background-color: #0a231b;
    --text-color: rgb(241, 241, 241);
  }

  body{
    background-color: var(--background-color);
  }