:root {
  --background-color: #ffffe6;
  --primary-color:#F7F6BB;
  --text-color: #071813;
  --text-color-two:#114232;
  --btn-color: #FCDC2A;
  --secondary-color: #87A922;
}
[data-theme="dark"] {
    --background-color: #0a231b;
    --primary-color:#08412e;
    --text-color: rgb(255, 255, 255);
    --text-color-two:#ffffe6;
  }
  *{
    box-sizing: border-box
  }

  body{
    background-color: var(--background-color);
  }